    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

            <nav class="uk-navbar uk-margin-large-bottom">
                <a class="uk-navbar-brand uk-hidden-small" href="/">Fallout 4 Lab</a>
                <ul class="uk-navbar-nav uk-hidden-small">
                    <li>
                        <a [router-link]="['/HomeController']">Terminal Unlock</a>
                    </li>
                    <li>
                        <a [router-link]="['/PerksPlannerController', {playerModel: currentPlayerModel}]">Level up planner</a>
                    </li>
                </ul>

                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Fallout 4 Lab</div>

                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav">
                        <li><a href="">...</a></li>
                    </ul>
                </div>
            </nav>

            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-3-4">
                    <div><router-outlet></router-outlet></div>
                </div>
                <div class="uk-width-medium-1-4">
                    <player-stats [player-model]="currentPlayerModel"/>
                </div>
            </div>

        </div>

        <div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-offcanvas">
                    <li>
                        <a href="/">Terminal Unlock</a>
                    </li>
                </ul>

            </div>
        </div>

